body{
    font-family: Helvetica,Arial, sans-serif;
}

h1 {
    color: #3a241d;
    text-align: center;
}

#contenedor-izquierdo{
    background-color: #eee;
    width: 15%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    padding: 10px;
}

#contenedor-derecho{
    background-color: #eee;
    width: 15%;
    height: 100%;
    right: 0px;
    top: 0px;
    position: absolute;
    padding: 10px;
}

.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%;
}

.componente {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}



.cielo{
    
    height: 80%;
	width: 65%;
	background: red;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.3;
	z-index: 1;

}

.suelo{
    width: 65%;
	height: 45%;
	background: black;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.9;
	z-index: -1;
}